/* GENERAL */

:root{
    --primary-color: rgb(149, 147, 230);
    --secondary-color: rgb(0, 132, 253);
    --secondary-color-light: rgb(181, 221, 255);
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.container{
    padding: 3rem 2rem;
}

h2{
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

h3{
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

p{
    line-height: 2rem;
    margin-bottom: 1.75rem;
}

.button{
    border-radius: 20px;
    padding: 10px 35px;
}

.hover:hover{
    cursor: pointer;
}

/* ----- HEADER ----- */

header{
}

/* NAVIGATION BAR */
.nav-section{
    background-color: var(--secondary-color);
    height: 75px;
    justify-content: center;
    align-items: center;
}

.nav-bar{
    padding: 5px;
    margin: 0rem 1rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.75rem;
}

.nav-bar img{
    height: 100%;
}

.nav-bar img:hover{
    cursor: pointer;
}

.nav-bar i:hover{
    cursor: pointer;
}

.nav-bar i:hover .menu{
    visibility: visible;
    height: 300px;
    display: block;
    transition: 0.5s;
}

/* MENU*/
.menu{
    visibility: hidden;
    height: 0px;
}

.menu .container{
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
}

.menu ul{
    list-style: none;
}

/* ---- MAIN ----- */

/* FEATURES SECTION*/

.features i{
    color: var(--secondary-color);
}

.features .container{
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
}

.features div[class*="card"]{
    background-color: var(--secondary-color-light);
    border-radius: 20px;
    padding: 2rem 2rem 0rem 2rem;
}

.first-card{
    flex-flow: column wrap;
    position: relative;
}

.card-centered{
    text-align: center;
}

.card-centered i{
    font-size: 5rem;
    width: 100%;
    margin-bottom: 2rem;
}

.features h2{
    color: var(--secondary-color);
}

.features p{
    font-weight: bold;
    color: rgb(55, 68, 79);
}

.features .bottom-demo{
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: column wrap;
}

.features .button{
    background-color: var(--secondary-color);
    color: white;
    letter-spacing: 2px;
    width: fit-content;
}

.features .button i{
    color: white;
}

.features span{
    font-weight: bold;
}

.features img{
    max-width: 100%;
    margin-top: 2rem;
}

/* STRATEGIC SECTION */

.strategic{
    background-color: var(--primary-color);
    flex-flow: column;
}

.strategic img{
    width: 100%;
    margin: 2rem 0rem 4rem;
}

.left-tall{
    color: white;
}

.left-tall p{
    line-height: 2rem;
}

.strategic .right-short{
    background-color: white;
    border-radius: 50px;
    text-align: center;
    padding: 1rem 1rem;
}

.strategic .right-short p{
    padding-bottom: 0rem;
    line-height: 1.5rem;
}

.arrow-down{
    background-color: var(--primary-color);
    border-radius: 50%;
    text-align: center;
    padding: 0.5rem;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
}

/* PARTNERS SECTION */

.partners{
    flex-flow: column;
    gap: 2rem;
}

.partners p , span, h2, h3{
    text-align: center;
}

.partners h2{
    color: var(--primary-color);
    font-size: 2rem;
}

.partners .card{
    background-color: var(--primary-color);
    border-radius: 50px;
    padding: 1rem;
    color: white;
    flex-flow: column;
    justify-content: center;
}

.partners img{
    width: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin: 1rem;
}

.partners .card > div{
    justify-content: center;
}

/* BENEFITS SECTION */ 

.benefits{
    background-color: var(--primary-color);
}

.benefits h2{
    color: white;
}

.benefits-box{
    flex-flow: row wrap;
    justify-content: center;
}

.benefits-box .card{
    background-color: white;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 50px;
    color: rgb(115, 115, 115);
}

.benefits > h2{
    font-size: 2.25rem;
}

.benefits-box h2{
    font-size: 3rem;
}

.benefits-box .card h2 , .benefits-box .card h3{
    text-align: left;
    color: var(--primary-color);
}

.benefits-box .button{
    background-color: var(--primary-color);
    width: fit-content;
    color: white;
}

/* ABOUT US SECTION */

.abt-us{
    flex-flow: row wrap;
}

.abt-us-left h2{
    color: var(--primary-color);
    font-size: 3rem;
    text-align: left;
}

.img-container{
    position: relative;
    width: fit-content;
}

.img-container img{
    width: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin: 1rem;
}

.img-container i{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 4rem;
    color: var(--primary-color);
}

.abt-us-right h2{
    text-align: left;
    color: var(--primary-color);
}

.abt-us-right .button{
    background-color: var(--primary-color);
    width: fit-content;
    color: white;
    padding: 0.5rem 1rem;
}

.abt-us-right .button i{
    padding: 0;
    margin-right: 0.5rem;
}

/* GET STARTED SECTION*/

.get-started{
    background-color: var(--primary-color);
    color: white;
    text-align: center;
}

.get-started h3{
    font-weight: 400;
    font-size: 1rem;
}

.get-started h2{
    font-size: 1.75rem;
}

#free{
    color: rgb(253, 193, 95);
    font-size: 3.5rem;
}

.get-started .button{
    background-color: white;
    color: var(--primary-color);
    margin-bottom: 2rem;
    width: fit-content;
    font-weight: bold;
    letter-spacing: 0.125rem;
    padding: 1.5rem 4rem;
    border-radius: 40px;
    margin: auto;
    margin-bottom: 2rem;
}

.get-started a{
    text-decoration: underline;
}

/* FOOTER */

footer{
    background-color: rgb(51, 51, 51);
    color: white;
    font-weight: bold;
}

footer .container{
    height: 300px;
    flex-flow: column;
    justify-content: space-between;
}

footer span{
    padding-bottom: 0;
}
/* MEDIA QUERIES */

/* TABLET */
@media screen and (min-width: 576px) and (max-width: 768px) {
    .container{
        padding: 2rem 1rem;
    }

    .first-card{
        width: calc(((100% / 3) * 2) - 1rem);
        justify-content: space-between;
    }

    .card-centered{
        width: calc((100% / 3) - 1.5rem);
    }

    .features h2{
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .features p, span{
        font-size: 0.75rem;
        line-height: 1.5rem;
        margin-top: 0.75rem;
    }

    .features .button{
        padding: 5px 17.5px;
    }

    .first-card img{
        width: 50%;
    }
    
    .card-centered i{
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .partners .card{
        padding: 2rem 2rem 2rem 0rem;
    }

    .partners .card, .card p, .card h3{
        flex-flow: row;
        text-align: left;
    }

    .partners img{
        width: 80%;
    }

    .left-tall h2{
        text-align: left;
        font-size: 3rem;
    }

    .right-short h3, .right-short p{
        text-align: center;
    }

    .benefits-box{
        flex-flow: row wrap;
        gap: 2rem;
        justify-items: center;
    }

    .benefits-box .card{
        width: calc((100% / 2) - 2rem);
        border-radius: 15px;
        margin-bottom: 0;
    }

    .benefits-box .card p{
        font-size: 0.75rem;
        line-height: 1.5rem;
    }

    .abt-us{
        padding: 3rem;
        flex-flow: row;
        gap: 2rem;
    }

    .abt-us{
        font-size: 0.75rem;
    }

    footer .container{
        height: 200px;
    }
}